<div class="buffer-bottom">
  <p>
    <span><strong>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </strong></span>
    <em><%= l comment.created_at, format: :short %></em>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
            fa_icon('trash'), event_comment_path(comment.event, comment),
            method: :delete, data: {confirm: t('.destroy_confirm')}
        ) %>
    <% end %>
  </p>
  <p><%= comment.body %></p>
</div>
