<h1><%= t('header.pincode_access') %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <%= text_field_tag :pincode, params[:pincode], class: "form-control", placeholder: t('views.events.pincode') %>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg"><%= t('button.open_event') %></button>
  </div>
<% end %>

<%= link_to 'На главную', events_path %>
