<h1><%= I18n.t('header.sign_in') %></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: I18n.t('user.email'), autocomplete: "email" %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password, class: "form-control", placeholder: I18n.t('user.password'), autocomplete: "current-password" %>
    </div>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg"><%= I18n.t('button.sign_in') %></button>
  </div>
<% end %>

<%= render "devise/shared/links" %>
